* {
    margin: 0;
    padding: 0;
  }
  
body {
    background-image: url(https://marketplace.canva.com/EAEeOQwo3jY/1/0/1600w/canva-purple-mountain-vintage-retro-twitch-banner-1NYTq34QR6I.jpg);
    background-size: 100%;
}

.carrossel {
    margin: 0 auto;
}

  .carrossel__titulo{
    color: orange;
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
  }

  img {
    width: 90%;
  }

  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
